@import "./contact.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #ffb7b7cb;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7e7e7;
}

.all-content {
  position: relative;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: #222222;
}

nav {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 1rem 5rem;
  background: transparent;
  position: fixed;
  width: 100%;
  color: #222222;
  z-index: 1000;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul li {
  position: relative;
  font-size: 1.2rem;
  margin-left: 4rem;
}

ul li a {
  transition: all 200ms ease;
}

ul li a:hover {
  color: #0040ff;
  transition: all 250ms ease;
}

ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  bottom: -40%;
  left: 50%;
  border-left: 1px solid #0040ff;
  border-bottom: 1px solid #0040ff;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  opacity: 0;
}

ul li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  bottom: -40%;
  left: 50%;
  border-left: 1px solid #0040ff;
  border-bottom: 1px solid #0040ff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
  transition: all 250ms ease;
}

.name-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #222222;
  cursor: default;
  transform: translate(-50%, -50%) scale(6);
  -webkit-transform: translate(-50%, -50%) scale(6);
  font-size: 22px;
  /* font-size: 8rem; */
  z-index: 1001;
  font-weight: 400;
  white-space: nowrap;
}

.name-logo-alt {
  position: fixed;
  top: 2%;
  left: 6%;
  color: #222222;
  font-weight: 400;
  font-size: 1.45rem;
  z-index: 1001;
  opacity: 0;
  cursor: default;
}

.name-background {
  height: 3rem;
  min-width: 1020px;
  background: #e489007e;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease;
  border: 2px solid #222222;
  border-radius: 100px;
}

.typing-text-container {
  /* color: rgb(100, 100, 100); */
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  position: absolute;
  top: 59%;
  left: 30%;
  overflow: hidden;
  font-size: 2rem;
}

.typing-text-cursor {
  display: inline-block;
  width: 2px;
  background-color: rgb(21, 21, 21);
  animation: blink 1s infinite;
}

.typing-text-cursor.is-typing {
  animation: none;
}

.home {
  height: 100vh;
  background-color: #e9e1dc;
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.home-square {
  height: 25rem;
  width: 25rem;
  background: #2b60ff;
  position: absolute;
  top: 68%;
  right: -2%;
  border: 2px solid #222222;
  z-index: 100;
  border-radius: 36px;
}

.home-circle {
  height: 32rem;
  width: 32rem;
  border-radius: 50%;
  background: #e48900;
  position: absolute;
  top: -30%;
  left: 2%;
  border: 1px solid #222222;
}

/* Projects section */

.projects {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-top: 1px solid #222222;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.projects-square {
  position: absolute;
  height: 380px;
  width: 380px;
  border: 1px solid #222222;
  border-radius: 36px;
  top: 8%;
  left: 4%;
  transform: rotate(25deg);
}

.projects-cross {
  position: absolute;
  bottom: 0;
  left: -5%;
  transform: rotate(45deg);
  z-index: 2;
}

.projects-triangle {
  position: absolute;
  top: 45%;
  right: 4%;
  transform: rotate(15deg);
}

.projects-title {
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  margin: 0 0 3rem 0;
  z-index: 100;
  font-size: 2.5rem;
}

.projects-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-cards-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.project {
  z-index: 10;
  max-width: 42%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project .content {
  padding: 20px;
  background-color: #e9e1dc;
  border: 2px solid #222222;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project .content h4 {
  font-size: 1.1rem;
  color: #222222;
  letter-spacing: 0.1rem;
  margin-bottom: 7px;
}

.project .content p {
  margin-bottom: 15px;
  color: #222222;
}

.project img {
  max-width: 100%;
  margin-bottom: -8px;
  border: 2px solid #222222;
  border-radius: 2rem 2rem 0 0 ;
}

.project-links {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
}

.project-links a {
  display: flex;
}

.project-btn {
  position: relative;
  background: transparent;
  border: none;
  display: flex;
}

.button-background {
  border-radius: 5%;
  border: 1px solid #222222;
  border-radius: 1rem;
  padding: 8px 12px;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  color: black;
  transition: all 100ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-1 .button-background {
  background: #FF2F2Db6;
}

.project-2 .button-background {
  background: #5A8DA8b6;
}

.project-3 .button-background {
  background: #f2b666b6;
}

.project-4 .button-background {
  background: #5d81efb6;
}

.project-5 .button-background {
  background: #e89898b6;
}

.project-6 .button-background {
  background: #98c379b6;
}

.project-btn:hover .button-background {
  box-shadow: -3px 3px 0px 0px #222222;
  position: relative;
  transform: translate(4px, -4px);
  transition: all 100ms ease;
  cursor: pointer;
}

/* About Section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e1dc;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  border: 1px solid #222222;
}

.about-section-title {
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  margin: 40px 0px;
  font-size: 2.5rem;
}

.about-content {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.about-text {
  position: relative;
  width: 600px;
  z-index: 101;
  right: -30px;
}

.about-text-title-container {
  border: 1px solid #222222;
  padding: 12px 30px;
  background-color: #2b60ff;
  border-radius: 20px;
}

.about-personal-description {
  color: #222222;
  padding: 24px 84px 24px 24px;
  line-height: 1.7;
}

.about-text-title-container h1 {
  margin-bottom: 0.5rem;
  color: #e9e1dc;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.headshot {
  height: 560px;
  width: auto;
  position: relative;
  border: 2px solid #222222;
  background-color: #e9e1dc;
  z-index: 100;
  left: -30px;
  border-radius: 20px;
}

.curved-line {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  visibility: hidden;
}

/* CSS Animations */

@-webkit-keyframes blink {
  0% {
    background-color: rgb(21, 21, 21);
  }
  25% {
    background-color: rgb(21, 21, 21);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(21, 21, 21);
  }
}
@keyframes blink {
  0% {
    background-color: rgb(21, 21, 21);
  }
  25% {
    background-color: rgb(21, 21, 21);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(21, 21, 21);
  }
}
