@import "home.css";

@media screen and (max-height: 770px) {
  .name-background {
    top: 55%;
  }
  .typing-text-container {
    top: 60%;
  }
}

@media screen and (max-width: 1599px) {
  .typing-text-container {
    left: 25%;
  }
  .home-circle {
    height: 26rem;
    width: 26rem;
    top: -28%;
  }
}

@media screen and (max-width: 1500px) {
  .home-square {
    height: 20rem;
    width: 20rem;
    top: 75%;
  }
  .home-circle {
    top: -30%;
  }
}

@media screen and (max-width: 1215px) {
  .project {
    max-width: 47%;
  }
}

@media screen and (max-width: 1200px) {
  .typing-text-container {
    left: 18%;
  }
}

@media screen and (max-width: 1080px) {
  .name-logo {
    transform: translate(-50%, -50%) scale(5);
  }
  .name-background {
    min-width: 850px;
    top: 53.5%;
    height: 2.5rem;
  }
  .home-square {
    top: 75%;
    right: -4%;
  }
  .projects-title {
    margin: 0 0 3rem 0;
    font-size: 2rem;
  }
  .headshot {
    height: 480px;
  }
  .about-text-title-container h1 {
    font-size: 2rem;
  }
  .about-text {
    width: 560px;
  }
  .contact {
    padding: 3rem;
  }
  .contact-email {
    width: 50%;
  }
}

@media screen and (max-width: 1010px) {
  .about-personal-description {
    font-size: 0.92rem;
  }
}

@media screen and (max-width: 950px) {
  .about-text-title-container {
    padding: 5px 15px;
  }
  .contact h1 {
    font-size: 2rem;
  }
  .contact-title-background {
    width: 234px;
    top: 26px;
    height: 15px;
  }
}

@media screen and (max-width: 900px) {
  .typing-text-container {
    top: 56.5%;
    left: 20%;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(4);
  }
  .name-background {
    min-width: 700px;
    top: 53%;
    height: 2.2rem;
  }
  .home-circle {
    height: 24rem;
    width: 24rem;
    top: -25%;
  }
  .home-square {
    height: 20rem;
    width: 20rem;
    top: 75%;
  }
  .about-content {
    flex-direction: column-reverse;
  }
  .headshot {
    left: -5%;
  }
  .about-text {
    right: 0;
    margin-top: -40px;
    width: 500px;
  }
  .about-content {
    margin-top: 0;
  }
  .about-text-title-container {
    text-align: center;
  }
  .about-personal-description {
    padding: 40px;
  }
}

@media screen and (max-width: 825px) {
  .project-cards-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .project {
    max-width: 80%;
  }
  .row-2, .row-3 {
    margin-top: 60px;
  }
  .projects-title {
    margin: 0 0 3rem 0;
    font-size: 1.75rem;
    text-align: center;
  }
  .home-square {
    top: 75%;
  }
}

@media screen and (max-width: 760px) {
  .typing-text-container {
    top: 55.5%;
    left: 18%;
    font-size: 1.5rem;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(3.5);
    position: absolute;
  }
  .name-background {
    min-width: 600px;
    top: 52.5%;
    height: 2rem;
  }
  nav {
    display: none;
  }
  .med-mobile-break {
    display: block;
  }
  .contact-email {
    width: 70%;
  }
  footer {
    padding: 1.5rem 3rem;
  }
}

@media screen and (max-width: 650px) {
  .typing-text-container {
    top: 54%;
    left: 19%;
    font-size: 1.3rem;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(3);
  }
  .name-background {
    min-width: 510px;
    top: 52%;
    height: 1.7rem;
    border: 2px solid #222222;
  }
  .home-square {
    top: 75%;
    height: 18rem;
    width: 18rem;
  }
  .home-circle {
    left: -5%;
    top: -24%;
  }
}

@media screen and (max-width: 550px) {
  .typing-text-container {
    top: 54%;
    left: 18%;
    font-size: 1.2rem;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(2.5);
  }
  .name-background {
    min-width: 430px;
    top: 51.8%;
    height: 1.4rem;
    border: 1px solid #222222;
  }
  .headshot {
    height: 350px;
  }
  .about-text {
    width: 430px;
  }
  .about-personal-description {
    padding: 25px;
  }
}

@media screen and (max-width: 480px) {
  .typing-text-container {
    top: 53.5%;
    left: 18%;
    font-size: 1.2rem;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(2.1);
  }
  .name-background {
    min-width: 360px;
    top: 51.6%;
    height: 1.3rem;
    border: 1px solid #222222;
  }
  .home-square {
    top: 78%;
    height: 18rem;
    width: 18rem;
  }
  .home-circle {
    left: -15%;
    top: -24%;
  }
  .projects-title {
    font-size: 1.5rem;
  }
  .project .content h4 {
    font-size: 1rem;
  }
  .project .content p {
    font-size: 0.9rem;
  }
  .project button {
    font-size: 0.9rem;
  }
  .med-mobile-break {
    display: none;
  }
  .small-mobile-break {
    display: block;
  }
  .contact-title-background {
    left: 19%;
  }
}

@media screen and (max-width: 450px) {
  .project {
    max-width: 90%;
  }
  .project-1,
  .project-3,
  .project-5 {
    margin-right: 0px;
  }
  .about-section-title {
    font-size: 2rem;
  }
  .about-content {
    margin-top: 10px;
  }
  .headshot {
    height: 280px;
  }
  .about-text {
    width: 340px;
  }
  .about-content {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .typing-text-container {
    top: 53%;
    left: 19%;
    font-size: 1.1rem;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(1.75);
  }
  .name-background {
    min-width: 310px;
    top: 51.5%;
    height: 1rem;
    border: 1px solid #222222;
  }
  .home-square {
    top: 75%;
    height: 17rem;
    width: 17rem;
  }
  .home-circle {
    left: -15%;
    top: -20%;
    height: 22rem;
    width: 22rem;
  }
  .project {
    max-width: 100%;
  }
  .project-btn {
    min-height: 52px;
  }
  .button-background {
    min-height: 52px;
  }
  .med-mobile-break {
    display: block;
  }
  .contact-title-background {
    left: -5%;
  }
  .contact {
    padding: 2rem;
  }
  .contact-email {
    height: 70px;
    min-width: 300px;
  }
  .email-icon {
    padding: 0 25px;
  }
  .email-address {
    font-size: 0.9rem;
  }
  footer {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .about-section-title {
    font-size: 2rem;
  }
  .about-content {
    margin-top: 10px;
  }
  .headshot {
    height: 280px;
  }
  .about-text {
    width: 300px;
  }
  .about-content {
    margin-bottom: 20px;
  }
  .about-text-title-container h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .typing-text-container {
    top: 52.5%;
    left: 27%;
    font-size: 0.75rem;
    color: #222222;
    -webkit-text-stroke: 0px;
  }
  .name-logo {
    transform: translate(-50%, -50%) scale(1);
  }
  .name-background {
    min-width: 200px;
    top: 50.9%;
    height: 0.7rem;
    border: 1px solid #222222;
  }
}
