* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: end;
  padding: 1rem 5rem;
  background: transparent;
  position: fixed;
  width: 100%;
  color: #222222;
  z-index: 100;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: #222222;
}

nav a {
  font-size: 1.2rem;
  margin-left: 5rem;
}

.name-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #222222;
  cursor: default;
  transform: translate(-50%, -50%) scale(6);
  z-index: 500;
  /* text-shadow: -2px 0px #005be4, 2px 0px #e48900; */
  font-weight: 400;
  font-size: 1.45rem;
}

.typing-text-container {
  /* color: rgb(100, 100, 100); */
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  position: absolute;
  top: 60%;
  left: 26%;
  overflow: hidden;
  font-size: 2rem;
}

.typing-text-cursor {
  display: inline-block;
  width: 2px;
  background-color: rgb(21, 21, 21);
  animation: blink 1s infinite;
}

.typing-text-cursor.is-typing {
  animation: none;
}

.home {
  height: 100vh;
  background-color: #e9e1dc;
  border-bottom: 1px solid #222222;
}

.name-background {
  height: 3rem;
  width: 70vw;
  background: #e489007e;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease;
  border: 2px solid #222222;
}

.home-square {
  height: 20rem;
  width: 20rem;
  background: #2b60ff;
  position: absolute;
  top: 70%;
  right: -3%;
  border: 2px solid #222222;
}

.home-circle {
  height: 24rem;
  width: 24rem;
  border-radius: 50%;
  background: #e48900;
  position: absolute;
  top: -28%;
  left: 2%;
  border: 1px solid #222222;
}

.scrollarrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrolldown 2s infinite 1s;
  animation: scrolldown 2s infinite 0s;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}

/* Projects section */

.projects {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-bottom: 1px solid #222222;
  padding: 6rem;
  overflow: hidden;
}

.projects-square {
  position: absolute;
  height: 280px;
  width: 280px;
  border: 1px solid #222222;
  border-radius: 2%;
  top: 114%;
  left: 4%;
  transform: rotate(25deg);
}

.projects-cross {
  position: absolute;
  bottom: -250%;
  left: 3%;
  transform: rotate(45deg);
}

.projects-triangle {
  position: absolute;
  top: 200%;
  left: 70%;
  transform: rotate(5deg);
}

.projects-title {
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  margin: 0 0 6rem 0;
  z-index: 1;
  font-size: 2.5rem;
}

.projects-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-cards-row {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.projects-container .row-1 {
  margin-bottom: 2.5rem;
}

.project {
  display: block;
  border: 2px solid #222222;
  max-width: 46%;
  position: relative;
}

.project-cards-row .project-1,
.project-cards-row .project-3 {
  margin-bottom: 60px;
}

.project-cards-row .project-2,
.project-cards-row .project-4 {
  align-self: flex-end;
}

.project .content {
  padding: 20px;
  background-color: #e9e1dc;
  border-top: 2px solid #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project .content h4 {
  font-size: 1.1rem;
  color: #222222;
  /* color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0); */
  letter-spacing: 0.1rem;
  margin-bottom: 7px;
}

.project .content p {
  margin-bottom: 15px;
  color: #222222;
}

.project img {
  max-width: 100%;
  margin-bottom: -8px;
}

.project-links {
  margin-top: 2.5rem;
}

.project-1 button {
  background-color: #f2b666b6;
}

.project-2 button {
  background-color: #5d81efb6;
}

.project-3 button {
  background-color: #98c379b6;
}

.project-4 button {
  background-color: #e89898b6;
}

.projects button {
  border-radius: 5%;
  border: 1px solid #222222;
  padding: 7px;
  font-size: 1rem;
  color: black;
}

.second-button {
  margin-left: 8px;
}

.projects button:hover {
  box-shadow: -3px 3px 0px 0px #222222;
  position: relative;
  transform: translate(4px, -4px);
  transition: 0.1s;
  cursor: pointer;
}

.projects button:not(:hover) {
  box-shadow: 0;
  position: inherit;
  transform: none;
  transition: 0.1s;
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
  height: 110vh;
  background-color: #e9e1dc;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #222222;
  overflow: hidden;
}

.about-title {
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  margin: 40px 0px;
  font-size: 2.5rem;
}

.about-content {
  position: absolute;
  width: 600px;
  top: 35%;
  right: 44%;
  z-index: 10;
}

.about-title-container {
  border: 1px solid #222222;
  padding: 12px 40px;
  background-color: #2b60ff;
}

.about-personal-description {
  color: #222222;
  padding: 16px 60px;
}

.about-title-container h1 {
  margin-bottom: 0.5rem;
  color: #e9e1dc;
  /* -webkit-text-stroke: 1px rgb(58, 58, 58); */
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.headshot {
  height: 480px;
  width: auto;
  position: absolute;
  left: 55%;
  top: 18%;
  border: 2px solid #222222;
}

/* Contact section */

.contact {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  padding: 6rem;
  border-bottom: 1px solid #222222;
}

.contact-title {
  position: relative;
}

.contact-title-background {
  content: "";
  position: absolute;
  top: 38px;
  width: 324px;
  left: -10px;
  background-color: #e489007e;
  border: 1px solid rgb(58, 58, 58);
  height: 22px;
  z-index: 1;
}

.contact h1 {
  position: relative;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(58, 58, 58);
  margin-bottom: 40px;
  z-index: 10;
}

.contact-content {
  line-height: 2;
  color: #222222;
}

.contact-link {
  color: #e69d31;
  transition: color 200ms;
}

.contact-link:hover {
  color: #ac6700;
}

.contact-email {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  align-items: center;
  height: 80px;
  width: auto;
  border: 1px solid #222222;
  width: 40%;
  overflow: hidden;
}

.email-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms ease;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-text {
  opacity: 0;
  color: #e7e7e7;
  transition: opacity 200ms ease;
  font-size: 1.3rem;
}

.email-icon {
  padding: 0 40px;
  border-right: 1px solid #222222;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: flex;
}

.email-address {
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  transition: opacity 200ms ease;
}

/* Footer */

footer {
  padding: 1.5rem 6rem;
  background-color: #e9e1dc;
  color: #222222;
  display: flex;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 20px;
  height: 20px;
}

footer a:not(:nth-child(1)) {
  margin-left: 25px;
}

/* Media queries */

@media screen and (max-width: 1280px) {
  .name-logo {
    transform: translate(-50%, -50%) scale(4);
  }
}

/* Animation keyframes */

@-webkit-keyframes blink {
  0% {
    background-color: rgb(21, 21, 21);
  }
  25% {
    background-color: rgb(21, 21, 21);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(21, 21, 21);
  }
}
@keyframes blink {
  0% {
    background-color: rgb(21, 21, 21);
  }
  25% {
    background-color: rgb(21, 21, 21);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(21, 21, 21);
  }
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 1;
  }
}
@keyframes scrolldown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0;
  }
}
